<!DOCTYPE HTML>


<html>
  <head>
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
    	<meta http-equiv="content-language" content="en-uk" />
    	<meta name="og:image" content="https://fergustaylor.github.io/images/avatar.jpg">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fergustaylor.github.io/css/main.css" />

  </head>

  <body id="top">

<header id="header">

  <a href="../" class="image avatar"><img src="https://fergustaylor.github.io/images/avatar.jpg" alt="" /></a>


        <h1><strong>{{ site.title | default: site.github.repository_name }}</strong></h1>
        <h1>{{ site.description | default: site.github.project_tagline }}</h1>

<nav id="sidebar">
			<ul>

				<li><a href="../">Home</a></li>
				<li><a href="https://fergustaylor.github.io/post">Archive</a></li>

			</ul>
		</nav>

</header>


      <div id="main">

      {{ content }}

      </div>

      <footer id="footer">
	<ul class="icons">

		 <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>

		<li><a href="//twitter.com/ferguswtaylor" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>

		<li><a href="//github.com/fergustaylor" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>

<li><a href="../index.xml" class="icon fa-rss" type="application/rss+xml"><span class="label">RSS</span></a></li>

	</ul>

      </footer>

<script src="https://fergustaylor.github.io/js/jquery.min.js"></script>
<script src="https://fergustaylor.github.io/js/jquery.poptrox.min.js"></script>
<script src="https://fergustaylor.github.io/js/skel.min.js"></script>
<script src="https://fergustaylor.github.io/js/util.js"></script>

<script src="https://fergustaylor.github.io/js/main.js"></script>

<script src="https://fergustaylor.github.io/js/changeit.js"></script>

<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-107299466-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>




	</body>
</html>
